:root {
  --b-radius: 1rem;
  --bright-blue: hsl(245, 75%, 52%);
  --dark-blue: hsl(223, 47%, 23%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --pale-blue: hsl(225, 100%, 94%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --white: #ffffff;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: url(../images/pattern-background-mobile.svg) var(--pale-blue) top
    center / 100% 50% no-repeat fixed;
  color: var(--dark-blue);
}

.fw-900 {
  font-weight: 900;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 700;
}

.element-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.main {
  min-height: 95vh;
}

.card {
  width: min(100% - 2rem, 400px);
  overflow: hidden;
  background-color: var(--white);
  border-radius: var(--b-radius);
}

.card__img {
  display: block;
  width: 100%;
}

.card__content {
  flex-direction: column;
  gap: 1.5em;
  padding: 2rem 8%;
  text-align: center;
}

.card__plan-details {
  flex-wrap: wrap;
}

.card__title {
  margin: 0;
  font-size: 1.5rem;
}

.card__paragraph {
  width: min(100% - 2rem, 250px);
  margin-block: 0;
  font-size: 0.9rem;
  line-height: 1.5em;
  color: var(--desaturated-blue);
}

.card__plan-container {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  border-radius: var(--b-radius);
  background-color: var(--very-pale-blue);
}

.card__plan-text {
  flex-direction: column;
  gap: 0.2em;
}

.card__plan-title,
.card__plan-price {
  margin-block: 0;
  font-size: 0.9rem;
}

.card__plan-price {
  color: var(--desaturated-blue);
}

.card__plan-link {
  font-size: 0.8rem;
  color: var(--bright-blue);
}

.card__plan-link:hover {
  text-decoration: none;
}

.card__btn {
  width: 100%;
  padding: 1em;
  text-decoration: none;
  border-radius: calc(var(--b-radius) - 0.3em);
}

.card__btn-order {
  background-color: var(--bright-blue);
  color: var(--white);
  box-shadow: 0 10px 20px hsla(245, 75%, 52%, 0.338);
  transition: opacity 0.4s ease;
}

.card__btn-order:hover {
  opacity: 0.8;
}

.card__btn-cancel {
  color: var(--desaturated-blue);
}

.footer {
  width: min(100% - 2rem, 400px);
  margin-inline: auto;
  text-align: center;
}

.footer__link {
  text-decoration: none;
  color: var(--dark-blue);
}
@media screen and (min-width: 375px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }
}
